# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:


# Calculate the total number of schools

# Slice column of school names from school data, and count 
# Check if matches schools_complete.
num_schools = school_data['school_name'].count()

    
    

    
# Calculate the total number of students

# Slice a list of students from the master dataframe. Not unique, two students can have
# the same name and be different people.
# Check if matches students_complete. Has to be different from schools_complete check.
num_students = school_data_complete['student_name'].count()





# Calculate the total budget

# This data has to be grabbed from school_complete dataframe. 
# Too many duplicates to parse from master dataframe. 
# Slice the 'budget' column and add all elements in it. 
total_budget = school_data['budget'].sum()





# Calculate the average math score

# Slice math_score column from master data frame and .mean() it.
# Round for legibility's sake.
avg_math_score = round(school_data_complete['math_score'].mean(), 2)






# Calculate the average reading score

# Do same as above.
avg_reading_score = round(school_data_complete['reading_score'].mean(), 2)





# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

# Pretty self-explanatory.
ov_pass_rate = round(((avg_math_score + avg_reading_score)/2), 2)





# Calculate the percentage of students with a passing math score (70 or greater)

# Here's where it gets interesting.
# First, slice out where passing math score is 70 =>. 
# Then, calculate the percentage by dividing by total students.
stu_pass_math = school_data_complete.loc[school_data_complete['math_score'] >= 70, :]
num_stu_pass_math = stu_pass_math['student_name'].count()

pct_stu_pass_math = round(((num_stu_pass_math/num_students) * 100), 2)





# Calculate the percentage of students with a passing reading score (70 or greater)

# First, slice out where passing reading score is 70 =>. 
# Then, calculate the percentage by dividing by total students.
stu_pass_reading = school_data_complete.loc[school_data_complete['reading_score'] >= 70, :]
num_stu_pass_reading = stu_pass_reading['student_name'].count()

pct_stu_pass_reading = round(((num_stu_pass_reading/num_students) * 100), 2)


# Create a dataframe to hold the above results

district_summary = pd.DataFrame(
    {'Total Schools': [num_schools],
     'Total Students': [num_students],
     'Total Budget': [total_budget],
     'Average Math Score': [avg_math_score],
     'Average Reading Score': [avg_reading_score],
     '% Passing Math': [pct_stu_pass_math],
     '% Passing Reading': [pct_stu_pass_reading],
     '% Overall Pass Rate': [ov_pass_rate]}
)




# Optional: give the displayed data cleaner formatting

# Format numbers greater than 1000 by inserting comments. 
# Format budget with dollar sign

district_summary['Total Students'] = district_summary['Total Students'].astype(int).apply(lambda x: "{:,}".format(x))
district_summary['Total Budget'] = district_summary['Total Budget'].astype(int).apply(lambda x: "{:,}".format(x))
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Pass Rate
0,15,"39,170","24,649,428",78.99,81.88,74.98,85.81,80.44

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.